body,
html {
    margin: 0;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: #43516B;
    color: #FFFFFF;
}

.forms_number {
}


/*topside part*/

header {
    background: #0A2140;
    padding: 20px;
    justify-content: space-between;
}


/*Middle side*/

#questao2 {
    overflow-y: auto;
}
.text {
    position: relative;
    background-color: #0A2140;
    width: 500px;
    height: 150px;
    bottom: 10px;
    box-shadow: var(--shadow-elevation-high);
}

.printText {
    font-family: 'Times New Roman', serif;
    position: absolute;
    color: #DBDBFF;
    left: 50%;
    top: -16px;
    width: 49.6%;
    height: 98.5%;
    overflow: auto;
    text-align: justify;
    border: 1px #C7C7FF solid;
}

table {
    position: relative;
    left: 10%;
}

td {
    padding: 10px;
}

h1,
h2 {
    position: relative;
    left: 10px;
    width: 48%;
}

h1 {
    color: #A3A3FF;
}

h2,
label {
    color: #DBDBFF;
    bottom: 24px;
    font-size: 15px;
}

label {}

form {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.forms_number input {
    display: flex;
    width: 25%;
    overflow: auto;
}


/*Donwside part*/

footer {
    background: #0A2140;
    justify-content: space-between;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.f-nav {
    flex-direction: column;
}

a {
    margin: 5px;
    text-decoration: none;
}


/* Link css*/

a:link {
    color: #FFFFFF;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #315079;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #fdfdfd9d;
    background-color: transparent;
    text-decoration: underline;
}


/*Shadows*/

:root {
    --shadow-color: 209deg 31% 20%;
    --shadow-elevation-high: 0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.45), 0.7px 1.5px 1.5px -0.4px hsl(var(--shadow-color) / 0.42), 1.3px 2.7px 2.8px -0.9px hsl(var(--shadow-color) / 0.38), 2.3px 4.5px 4.7px -1.3px hsl(var(--shadow-color) / 0.35), 3.7px 7.5px 7.7px -1.7px hsl(var(--shadow-color) / 0.32), 6px 12px 12.4px -2.1px hsl(var(--shadow-color) / 0.29), 9.2px 18.4px 19px -2.6px hsl(var(--shadow-color) / 0.26), 13.6px 27.3px 28.1px -3px hsl(var(--shadow-color) / 0.23), 19.5px 39px 40.2px -3.4px hsl(var(--shadow-color) / 0.2), 27px 54px 55.7px -3.8px hsl(var(--shadow-color) / 0.16);
}